@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out;
}

.swiper {
  height: auto !important;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  height: auto !important;
}


html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #08010d;
    min-height: 100vh;
    min-width: 100vw;
}

main{
    width: 100%;
    height: auto;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 4px 0;
    background: #150c36 !important;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primeiraCamadaSvg {
    transition: filter 0.5s ease;
    &:hover {
        stroke-width: 4px;
        stroke: #800bd2;
        filter: drop-shadow(0px 0px 30px #9747ff);
    }
}

.dadosSvg {
    transition: filter 0.5s ease;
    &:hover {
        stroke-width: 4px;
        stroke: #800bd2;
        filter: drop-shadow(0px 0px 30px #9747ff);
    }
}

.segundaCamadaSvg {
    transition: filter 0.5s ease;
    &:hover {
        stroke-width: 4px;
        stroke: #d30094;
        filter: drop-shadow(0px 0px 30px #d30094);
    }
}

.terceiraCamadaSvg {
    transition: filter 0.5s ease;
    &:hover {
        stroke-width: 4px;
        stroke: #486dff;
        filter: drop-shadow(0px 0px 30px #486dff);
    }
}

.popUpDados {
    display: none;
    width: 265px;
    padding: 32px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;

    border-radius: 12px;
    border: 1px solid #800bd2;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    & .content {
        color: #fff;
    }
}

.dadosSvg:hover > .popUpDados {
    display: flex !important;
}

/* .dadosSvg:hover {
    stroke-width: 4px;
    stroke: #800bd2;
    filter: drop-shadow(0px 0px 30px #9747ff);
    z-index: 100;
} */

.methodology {
    text-align: center;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        color: #fff;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    & .content {
        position: relative;
        top: -92px;
        bottom: 25px;
        & .btnMethodology {
            position: relative;
            bottom: 92px;
        }
    }
}

.mainHome {
    padding: 0 165px;
    position: relative;
    /* top: 157px; */
}

.home-banner {
    margin-bottom: 350px;
    margin-top: 20%;
}

/*Menu*/
.content-menu {
    max-width: 1400px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content-menu figure {
    max-width: 237px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-menu figure img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.content-menu .menu {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-menu .menu ul {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
}

.content-menu .menu ul li {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-menu .menu ul li a {
    color: #fbf5ff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    transition: all 333ms ease-in-out;
}

.content-menu .menu ul li a:hover {
    opacity: 0.8;
}

/*Menu Mobile Global*/
.content-menu .menu-mobile ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.menu-toggle {
    display: none;
    width: 30px;
    height: auto;
    flex-direction: column;
    gap: 8px;
}

.menu-toggle .line {
    width: 100%;
    background: #fff;
    height: 3px;
}
/*fim Menu Mobile Global*/

/*differenceTable*/

.differenceTable {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;

    table {
        border-radius: 15px;
        box-shadow: 0px 0px 14px 4px #3c63ff;
        color: white;
        padding: 20px;
        thead {
            gap: 10px;
            color: var(--Light-text, #fbf5ff);
            text-align: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            th {
                padding: 24px 10px;
                border-bottom: 1px solid rgba(60, 99, 255, 0.3);
            }
        }
        tbody {
            tr {
                td {
                    height: 60px;
                    padding: 8px 10px;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    border-bottom: 1px solid rgba(60, 99, 255, 0.3);
                }
            }
        }
        .caracteristicas {
            border-right: 1px solid rgba(60, 99, 255, 0.3);
            background: rgba(60, 99, 255, 0.1);
        }
        .convencionais {
            border-right: 1px solid rgba(60, 99, 255, 0.3);
            background: rgba(60, 99, 255, 0.15);
        }
        .algoritmux {
            background: rgba(60, 99, 255, 0.22);
        }
    }
}

/*Footer*/
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #08010d;
    min-height: 411px;
    position: relative;
}

footer .content-footer {
    max-width: 1142px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-right {
    width: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer-right .content {
    display: flex;
    flex-direction: column;
}

.footer-right .content h3 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 16px 0;
}

.footer-right .content ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-right .content ul li {
    width: 100%;
    display: flex;
    align-items: center;
}
.footer-right .content ul li a {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 333ms ease-in-out;
}

.footer-right .content ul li a:hover {
    opacity: 0.8;
}

.footer-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.footer-center .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.footer-center .content figure {
    width: 100%;
    max-width: 339px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-center .content figure img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.footer-center .content span {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    bottom: 0;
}

.footer-left {
    align-items: end;
}

.footer-left .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-left .content h3 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-left .content .social {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    gap: 10px;
}

.footer-left .content .social .icons {
    display: flex;
    gap: 15px;
}

.footer-left .content .telEmail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.footer-left .content .telEmail p a {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 333ms ease-in-out;
}

.footer-left .content .telEmail p a:hover {
    opacity: 0.8;
}

/*PAI DA PARTE DA HOME BANNER*/

.videoFundo {
    position: relative;
    width: 100%;
    height: 100%;
}

.videoFundo .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 106vh;
    object-fit: cover;
    z-index: -1;
}

/* .home-banner {
    position: relative;
    width: 100%;
    height: 100vh;
} */

.home-banner .text-home {
    z-index: 10;
    color: white;
    top: 20%;
    position: relative;
    padding: 20px 300px 0 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.text-home button {
    background-color: #800bd2;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px 4px #800bd2;
}

/* .home-banner .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 106vh;
    object-fit: cover;
} */

.statistic {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 214px;
}

.statistic .statistic-content {
    background: #24145c61;
    color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    width: 1111px;
    height: 273px;
    border: 1px solid #800bd2;
    position: relative;
}

.statistic .statistic-content .porcents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #0027c3;
    padding: 0 20px;
}

.statistic .statistic-content .porcents:nth-child(4) {
    border-right: none;
}

.statistic .statistic-content .porcents:nth-child(2) span:before {
    content: "apenas";
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: -29px;
}

.statistic .statistic-content .porcents span {
    font-size: 60px;
    color: #800bd2;
    font-weight: 600;
}

.statistic .statistic-content .porcents p {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

/*GROWTH*/
.sectionGrowth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navGrowth {
    width: 1112px;
}

.titlePrimaryGrowth {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 60px;
}

.contentSectionActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.textGrowth {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 710px;
}

.titleGrowth {
    font-size: 48px;
    font-weight: 700;
    color: #d30094;
    text-shadow: 0px 0px 10px #ffffff9a;
    width: 510px;
}

.tab-title {
    color: #fff;
    font-size: 16px;
    transition: color 0.3s, border-color 0.3s;
}

.tab-title.active,
.tab-title:hover {
    color: #ff00ff; /* Cor rosa para o botão ativo */
    border-bottom: 2px solid #ff00ff;
}

.tab-content {
    background-color: rgba(36, 20, 92, 0.6);
    border-radius: 20px;
    padding: 20px;
}

.primaryBlue {
    color: #3c63ff;
    font-weight: 500;
}

.btnPrimary {
    display: inline-flex;
    height: 56px;
    padding: 13px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 12px;
    color: #fbf5ff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.purpleBtn {
    border: 1px solid #800bd2;
    background: var(--Primary-Lighter, #800bd2);
    /* Purple Button Shadow */
    box-shadow: 0px 0px 18.3px 2px rgba(128, 11, 210, 0.75);
    &:hover {
        box-shadow: 0px 0px 50px 2px rgba(128, 11, 210, 0.75);
    }
}

.pinkBtn {
    border: 1px solid #ff70d4;
    background: var(--Pink-Details, #d30094);
    /* Pink Button Shadow */
    box-shadow: 0px 0px 18.3px 2px rgba(255, 0, 212, 0.75);
    &:hover {
        box-shadow: 0px 0px 50px 2px rgba(255, 0, 212, 0.75);
    }
}

.blueBtn {
    border: 1px solid #002cdb;
    background: var(--Primary-Blue, #3c63ff);
    /* Blue Button Shadow */
    box-shadow: 0px 0px 18.3px 2px rgba(60, 99, 255, 0.7);
    &:hover {
        box-shadow: 0px 0px 50px 2px rgba(60, 99, 255, 0.7);
    }
}


/* SECTION CONTATO */

.contactUS{
    width: 100%;
    min-height: 419px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #150C36;
    position: relative;
}

.contactUS__container{
    width: 100%;
    display: flex;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 3;
}

.contactUs-background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 0;
}

.contactUS__container h3{
    color: #FBF5FF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    margin: 30px 0;
}

.contactUS__container p{
    color:  #FBF5FF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px 0;
}

.contactUS__container a{
    display: flex;
    align-items: center;
    padding: 13px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #800bd2;
    background: #800bd2;
    color: #fbf5ff;
    font-size: 1rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    line-height: normal;
    box-shadow: 0px 0px 18.3px 2px rgba(128, 11, 210, 0.75);
    transition: all 333ms ease-in-out;
    margin: 30px 0;
}

.contactUS__container a:hover{
    opacity: .8;
}

@media screen and (max-width: 991px){
    .contactUS__container h3{
        font-size: 24px;
    }
    .contactUS__container p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px){
    .contactUS__container h3{
        font-size: 18px;
        margin: 15px 0;
    }
    .contactUS__container p{
        font-size: 14px;
        margin: 15px 0;
    }
    .contactUS__container a{
        font-size: 14px;
        margin: 15px 0;
    }

}

/* FINAL SECTION CONTATO */





/*RESPONSIVIDADE*/

/* Menu Mobile */
@media (max-width: 991px) {
    .menu-mobile {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #150c36;
        width: 0%;
        display: flex; /* Esconde o menu por padrão no mobile */
        flex-direction: column;
        visibility: 0;
        pointer-events: none;
        opacity: 0;
        transition: all 333ms ease-in-out;
        padding: 30px 20px;
    }

    .menu-mobile ul {
        flex-direction: column;
        gap: 25px;
        width: 100%;
        height: auto;
        display: flex;
    }

    .menu-mobile ul li {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        justify-content: center;
    }

    .menu-mobile ul li a {
        color: #fbf5ff;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    /* Exibe o botão de menu apenas no mobile */
    .menu-toggle {
        display: flex;
    }

    /* Classe para mostrar o menu no mobile */
    .menu-mobile.show {
        display: flex;
        align-items: center;
        z-index: 50;
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        width: 100%;
    }
    .menu-mobile.show ul li:hover {
        background-color: #800bd2;
        width: 100%;
    }
    /* fim Menu para Mobile */

    /*Esconder o Menu Desk*/
    .content-menu .menu {
        display: none;
    }
    /* fim Esconder o Menu Desk*/

    /*Footer-Mobile*/
    footer {
        padding: 20px;
        display: flex;
        text-align: center;
    }
    footer .content-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .footer-right .content ul li{
        justify-content: center;
    }

    .footer-left .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .footer-left .content .social {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

    .footer-left .content .social .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .footer-center > .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-center > .content span p {
        font-size: 12px;
    }

    .footer-left .content .social{
        align-items: center;
        text-align: center;
    }
    .footer-left .content .telEmail{
        align-items: center;
    }
    /* fim Footer-Mobile*/
}
/*Banner*/
@media (min-width: 769px) and (max-width: 1024px) {
    .home-banner .text-home {
        padding: 20px 372px 0 25px;
    }
}
@media (min-width: 1025px) {
    .home-banner .text-home {
        top: 32%;
        width: 76%;
        padding: 20px 285px 90px 61px;
        gap: 12px;
    }
    .home-banner .text-home h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 62px;
    }
    .home-banner .text-home > p {
        font-size: 24px;
        width: 74%;
    }
    .home-banner .text-home button {
        width: 260px !important;
    }
    .home-banner .text-home button:hover {
        box-shadow: 0px 0px 10px 4px white;
    }

    .home-banner .text-home button p {
        font-size: 18px;
    }
}
/* Footer Mobile */
@media (max-width: 768px) {
    footer {
        padding: 20px;
        display: flex;
        text-align: center;
    }
    footer .content-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .footer-left .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .footer-left .content .social {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

    .footer-left .content .social .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .footer-center > .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .footer-center > .content span p {
        font-size: 12px;
    }
}

/*Banner*/
@media (max-width: 530px) {
    .home-banner .text-home {
        width: 100%;
        padding: 20px;
    }
    .video1:nth-child(1) {
        display: none;
    }
}

@media (min-width: 531px) {
    .videoMobile {
        display: none;
    }
}
