.main-contato {
        width: 100%;
        padding-top: 100px;
}

.main-contato__container {
        width: 100%;
        height: 100%;
        max-width: 1360px;
        margin: 0 auto;
        padding: 130px 20px 93px 20px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
}

.main-contato__container-background {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        z-index: -1;
}

.main-contato__container-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.main-contato__container-title h1 {
        color: #800bd2;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
}

.main-contato__container-subtitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.main-contato__container-subtitle h2 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.main-contato__container-form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        max-width: 1112px;
        flex-direction: column;
        gap: 75px;
}

.main-contato__contaainer-form-group {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 25px;
        justify-content: space-between;
}

.main-contato__contaainer-form-group label {
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
}

.main-contato__contaainer-form-group label input {
        width: 100%;
        padding: 12px 16px;
        color: #800bd2;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        outline: none;
        border-radius: 8px;
        height: 48px;
        border: 1px solid #800bd2;
        background: rgba(8, 1, 13, 0.3);
        box-shadow: 0px 0px 18.3px 2px rgba(128, 11, 210, 0.75);
}

.main-contato__contaainer-form-group textarea {
        padding: 14px 16px;
        border-radius: 8px;
        color: #800bd2;
        width: 100%;
        outline: none;
        resize: none;
        height: 96px;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid #800bd2;
        background: rgba(8, 1, 13, 0.3);
        box-shadow: 0px 0px 18.3px 2px rgba(128, 11, 210, 0.75);
}

.main-contato__contaainer-form-group label input::placeholder,
.main-contato__contaainer-form-group textarea::placeholder {
        color: #800bd2;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.main-contato__container-form input[type="submit"] {
        display: flex;
        align-items: center;
        padding: 13px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: 1px solid #800bd2;
        background: #800bd2;
        color: #fbf5ff;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        line-height: normal;
        box-shadow: 0px 0px 18.3px 2px rgba(128, 11, 210, 0.75);
        transition: all 333ms ease-in-out;
}

.main-contato__container-form input[type="submit"]:hover {
        opacity: 0.8;
}

/* RESPONSIVIDADE */

/* MOBILE */
@media screen and (max-width: 991px) {
        .main-contato__contaainer-form-group{
                flex-direction:  column;
                gap: 75px;
        }
}