.main-equipe {
    width: 100%;
    padding-top: 100px;
}

.main-equipe__container {
    width: 100%;
    height: 100%;
}

.main-equipe__historia {
    width: 100%;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto 60px auto;
    padding: 60px 20px 0 20px;
}

.main-equipe__historia-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-equipe__historia-container h1 {
    color: #fbf5ff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.main-equipe__historia-container h1 strong {
    color: #800bd2;
}

.main-equipe__historia-container p {
    color: #fbf5ff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-equipe__missao {
    width: 100%;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto 60px auto;
    padding: 0 20px;
}

.main-equipe__missao-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-equipe__missao-container h2 {
    color: #fbf5ff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-equipe__missao-container--elements {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.main-equipe__missao-container--elements .element {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main-equipe__missao-container--elements .element img {
    width: 85px;
    height: 85px;
    object-fit: contain;
}

.main-equipe__missao-container--elements .element p {
    padding: 16px 0;
    color: #fbf5ff;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.main-equipe__direcao {
    width: 100%;
    position: relative;
    background: #150c36;
    margin-bottom: 60px;
}

.main-equipe__direcao-bk {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-equipe__direcao-bk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-equipe__direcao-container {
    max-width: 973px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    position: relative;
}

.main-equipe__direcao-container .direcao {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.direcao .direcao__image {
    max-width: 355px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direcao .direcao__image img {
    max-width: 355px;
    width: 100%;
    height: auto;
    max-height: 355px;
    object-fit: contain;
}

.direcao .direcao__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}

.direcao .direcao__text h2 {
    color: #fbf5ff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.direcao:last-child .direcao__text h2 {
    text-align: right;
}

.direcao .direcao__text p {
    color: #fbf5ff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.direcao:last-child .direcao__text p {
    text-align: right;
}

.main-equipe__equipe {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 68px;
    margin-bottom: 60px;
}

.main-equipe__equipe h2 {
    color: #fbf5ff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.main-equipe__equipe h2 strong {
    color: #800bd2;
}

.equipe-bk {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.equipe-bk1 {
    top: 95px;
    left: 0;
}

.equipe-bk2 {
    bottom: 125px;
    right: 0;
}

.main-equipe__equipe-container {
    width: 100%;
    max-width: 1188px;
    padding: 30px 20px;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid #800bd2;
    display: flex;
    align-items: flex-start;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.equipe-element {
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.equipe-element h3 {
    color: #fbf5ff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.equipe-element figure {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 18.3px rgba(128, 11, 210, 0.75));
}

.equipe-element figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.equipe-element h4 {
    color: #800bd2;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.2%;
}

.equipe-element p {
    color: #fbf5ff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* RESPONSIVIDADE */

/* MOBILE */
@media screen and (max-width: 991px){
    .main-equipe__missao-container--elements{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-equipe__direcao-container{
        gap: 20px;
    }
    .main-equipe__direcao-container .direcao{
        flex-direction: column;
    }
    .direcao .direcao__image img{
        order: 1;
    }
    .direcao .direcao__text{
        order: 2;
    }
    .direcao .direcao__text p,
    .direcao .direcao__text h2,
    .direcao:last-child .direcao__text h2,
    .direcao:last-child .direcao__text p{
        text-align: center;
    }
}
