.main-obrigado {
    width: 100%;
    padding-top: 100px;
}

.main-obrigado__container {
    width: 100%;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 792px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.main-obrigado__container-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: -1;
}

.main-borigado__container-icone {
    width: 100%;
    max-width: 883px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-obrigado__container-title,
.main-obrigado__container-subtitle,
.main-obrigado__container-back {
    width: 100%;
    max-width: 883px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-obrigado__container-title h1 {
    color: #800bd2;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.main-obrigado__container-subtitle h2 {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-obrigado__container-back a {
    display: flex;
    align-items: center;
    padding: 13px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #800bd2;
    background: #800bd2;
    color: #fbf5ff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    line-height: normal;
    box-shadow: 0px 0px 18.3px 2px rgba(128, 11, 210, 0.75);
    transition: all 333ms ease-in-out;
}

.main-obrigado__container-back a:hover{
    opacity: 0.8;
}

/* RESPONSIVIDADE */

/* MOBILE */
@media screen and (max-width: 991px){
    .main-obrigado__container{
        min-height: 650px;
    }
}